language: node_js

sudo: required

node_js:
  - "8.9"

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - g++-4.8

before_install:
  - export CXX="g++-4.8"
  - npm install -g npm@latest
  - npm install -g ethereumjs-testrpc truffle

install:
  - npm install

script:
  - testrpc &
  - truffle compile
  - truffle migrate
  - npm run dev
